* {padding: 0; margin: 0; font-family: 'Montserrat', sans-serif; font-size: 15px; color:#333;}
body{font-weight: 400;}
.wrapper-app{width: 900px; margin: 30px auto 0;}
.form-cont{width: 50%; border:1px solid #b8b8b8; padding: 40px;}
label, input,textarea{display: inline-block; padding:4px 10px; vertical-align: middle;}
input, textarea {border: 1px solid rgba(100,100,100,0.5); transition: all 0.3s ease 0.2s; border-radius: 4px;}
input:focus, textarea:focus{box-shadow: 0 0 10px rgba(40,160,201, .5); border-color:rgba(40,160,201, 1); }
button{transition: all 0.3s ease 0.2s; cursor: pointer;}
.btn-azul{background-color: #3360af; color:#fff; text-align: center; padding: 4px 20px; display: inline-block; margin: 0 10px; vertical-align: middle; border:none;  border-radius: 4px;}
.btn-azul:hover {background-color: #16418c; box-shadow: 0 0 4px rgba(0,0,0, 0.2)}
.btn-gris{background-color: #888; color:#fff; text-align: center; padding: 4px 20px; display: inline-block; margin: 0 10px; vertical-align: middle; border:none;  border-radius: 4px;}
.btn-gris:hover {background-color: #444; box-shadow: 0 0 4px rgba(0,0,0, 0.2)}
.clearfix{clear: both; margin-bottom: 26px;}
h2{font-size:16px; padding: 10px 10px 3px;}
p{padding: 1px 10px;}

.fancy-form{border:1px solid #3360af; border-radius: 4px; overflow: hidden; width: 50%; position: relative; padding-bottom: 20px; margin-bottom:30px;}
.fancy-form h2{background-color: #3360af; color:#fff; padding: 6px 10px !important; margin-bottom: 40px;}
.btn-cerrar{width: 20px; height: 20px; color: #fff; position: absolute; top: 5px; right: 10px; background-color: transparent; border: none; text-align: center; font-weight:600;}
.btn-cerrar:hover{background-color: rgba(255,255,255, .16);}
.fancy-form label{width: 80px; margin-left: 10%;}
.fancy-form input, .fancy-form textarea{width: 220px; resize: none;}
.fancy-form textarea{vertical-align: top; height: 70px;}
.fancy-form .btn-azul {margin-left: 33%;}
